{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block form_top %}
    {% if not is_popup %}
        <p>{% translate "First, enter a username and password. Then, you'll be able to edit more user options." %}</p>
    {% else %}
        <p>{% translate "Enter a username and password." %}</p>
    {% endif %}
{% endblock %}

{% block field_sets %}
    <form method="post" action="{% url 'admin:auth_user_add' %}">
        {% csrf_token %}
        {{ block.super }}
    </form>
{% endblock %}
